.sidenav{
  position: fixed;
  height: 100%;
  width: 300px;
  top: 55px;
  left: 0;
  background: #222;
  overflow-x: hidden;
  padding: 30px 0 0 0;
  transition: .3s;
  z-index: 10;

  a{
    padding: 5px 5px 5px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #e3e3e3;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;

    &:hover{
      color: #0f6674;
    }
  }

}

.offcanvas{
  a{
    &:focus{
      color: #0f6674;
    }
  }
}

#main{
  margin: 0 0 0 300px;
  transition: .3s;
  .row{
    margin-right: 0;
  }
}
#main-body{
  transition: .3s;
}
.main-content{
  padding: 30px;
}
.row-content-header{
  padding: 5px;
  font-size: 18px;
}
